* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(61, 60, 60);
    
}

body {
    background-color: rgb(245, 245, 245);
}

/* NAVBAR */

.navbar {
    display: flex;
    height: 15vh;
    background-color: rgb(245, 245, 245);
}

.navbar-ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
}

.navbar-li {
    width: 20%;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
    margin: 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-li:hover {
    background-color: rgb(92, 91, 91);
    color: rgb(245, 245, 245);  
    transition: 1s ease;
}


/* MAIN PAGE */

.start-page {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245, 245, 245);
}

.title {
    display: flex;
    width: 100%;
    font-size: 2rem;
    flex-direction: column;
}

.title-header {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 30px; 
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1rem;
    height: 75%;

}

.input {
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    font-size: 1rem;
    color: black;
    font-weight: bolder;
    background-color: rgb(220, 220, 220);
}
.input:focus{
    outline: none;
}

.fa-search {
    font-size: 25px;
    margin: 10px;
}

.search-bar-cap {
    color: red;
    font-weight: bolder;
    padding-left: 10px;
}

/* Results*/

.results-container{
    list-style-type: none;
    position: absolute;
    top: 50%;
}
.results-container li {
    border-radius: 7px;
    display: flex;
    padding:3px 5px;
}
.results-container li:hover{
    transition: 0.5s ease;
    background-color: rgb(220, 220, 220);
}

.results-container a{
    font-weight: bolder;
}
.results-container a:hover{
    cursor: pointer;
}

.fa-arrow-right {
    margin: 0 30px;
}

/* nEW NAVBAR FEATURES */


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 800;
    position: relative;
}

.header a {
    position: absolute;
    left: 5%;
    cursor: pointer;
    padding: 30px;
    text-decoration: none;
    color: rgb(61, 60, 60);
}
.header a:hover {
    color: silver;
    font-size: larger;
    transition: 0.3s ease;
}

.task {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-weight: 800;
}

.task:hover {
    background-color: rgb(92, 91, 91);
    color: white;
    transition: 0.5s ease;
}

/* Pop Up div*/

.pop-up {
    height: 80vh;
    width: 80vw;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 224, 224);
    color: rgb(8, 8, 8);
    text-align: center;
    overflow: scroll;
    padding: 0 80px 0 80px;
}

.popup-cover{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 224, 224);
    color: rgb(8, 8, 8);
    text-align: center;
    overflow: scroll;
    padding: 0 80px 0 80px;
    
}

.fa-times-circle {
    margin: 30px 0 0 90%;
    left: 50px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: x-large;
    position: relative;
}

.pop-up i:hover {
    color: rgb(211, 9, 9);
    transition: 0.5s ease;
}

.fa-chevron-left {
    cursor: pointer;
    width: 60px;
    font-size: x-large;
    position: relative;
    position: absolute;
    right: 90%;
    top: 10%;
    height: 60px;
}

.pop-up p {
    margin-top: 50px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
/* 
.popup-cover {
    width: 100%;
    height: 100%;
    border: 1px solid red;
} */

.pop-up h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlight {
    color: red;
    font-size: larger;
}
/*Footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(92, 91, 91);
    color: rgb(245, 245, 245);
    font-weight: bolder;
}