* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

/* SUB-PAGES */

.main-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    color: rgb(61, 60, 60);  
}

.main-page {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-bottom: 30px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 800;
    position: relative;
}

.header a {
    position: absolute;
    left: 5%;
    cursor: pointer;
    padding: 30px;
    text-decoration: none;
    color: rgb(61, 60, 60);
}
.header a:hover {
    color: silver;
    font-size: larger;
    transition: 0.3s ease;
}

.task {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-weight: 800;
}

.task:hover {
    background-color: rgb(92, 91, 91);
    color: white;
    transition: 0.5s ease;
}

/* Pop Up div*/

.pop-up {
    height: 80vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 224, 224);
    color: rgb(8, 8, 8);
    text-align: center;
    overflow: scroll;
    padding: 0 80px 0 80px;
}

.pop-up i {
    margin: 30px 0 0 90%;
    cursor: pointer;
    font-size: x-large;
}

.pop-up i:hover {
    color: rgb(211, 9, 9);
    transition: 0.5s ease;
}

.pop-up p {
    margin-top: 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(92, 91, 91);
    color: rgb(245, 245, 245);
    font-weight: bolder;
}